
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
  height: 100%;
  width: 100%;
  position: absolute;
  
}
html {
  font-family: 'Poppins', sans-serif !important;
  
}


.form-row {
    padding: 10px 0px 10px;
    position: relative;
}
.form-row input {
    border: solid 1px #F8544F;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 16px;
    outline: 0;
    padding: 10px;
    height: 50px;
}
.form-row label {
    font-size: 12px;
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    background-color: white;
    transition: all .1s ease-in-out;
    color: #000;
    padding: 0px 10px 0px 10px
}

.container_checkbox {
    display: block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
.container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    margin: 0px;
    top: 0;
    left: -30px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
  
  /* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
  
  /* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
    background-color: #F8544F;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

