<div class="main h-100 overflow-hidden">

    <img src="assets/logo.svg" class="mx-auto d-block p-5" alt="">
    <div class="align-items-center">
        <div class="card text-dark bg-white mx-auto " style="max-width: 30rem; border-radius: 20px; padding: 5px 20px 10px 20px">
            <div class="card-body">

                <div class="form-row">
                    <div class="col">
                        <label for="username"> Username</label>
                        <input type="text" name="username" class="form-control rounded-100">
                    </div>
                </div>
                <div class="form-row">
                    <div  class="col">
                        <label for="password"> Password</label>
                        <input type="text" name="password" class="form-control rounded-300">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label class="container_checkbox">Remember me
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col text-right">
                        <a (click)="missing('tururu')">Forgot Password</a>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <button class="btn btn-success btn-lg btn-block" style="background-color: #F8544F; border: none;" [routerLink]="'/prizes'">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>